<configuration>
  <system.webServer>  
    <rewrite>  
        <rules>  
          <rule name="Redirect requests to index.php" stopProcessing="true">
            <match url="^(?!index\.php)(.+)$" />
	    <conditions>
		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
	    </conditions>  
            <action type="Rewrite" url="index.php/{R:1}" logRewrittenUrl="true" />  
          </rule>  
        </rules>  
    </rewrite>  
  </system.webServer>  
</configuration>
